<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME PAGE</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>MANY NANNY</h1>
    <button><a href="/home/sitters/new">ARE YOU A NANNY?</a></button>
    <button><a href="/home/sitters">ARE YOU LOOKING FOR A NANNY?</a></button>
</body>
</html>