<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Create Profile</title>
        <link rel="stylesheet" href="/css/style.css">
	</head>
	<body>
		<h1>CREATE PROFILE</h1>
		<form action="/home/sitters" method="POST">
            <label for="image">Image Link</label><br><br>
            <input type="text" name="image" id="image"><br><br>
            <label for="name">Name</label><br><br>
            <input type="text" name="name" id="name"><br><br>
            <label for="age">Age</label><br><br>
            <input type="number" name="age" id="age"><br><br>
            <label for="location">Location</label><br><br>
            <input type="text" name="location" id="location"/><br><br>
            <label for="education">Education</label><br><br>
            <input type="text" name="education" id="education"/><br><br>
            <label for="experience">Experience</label><br><br>
            <input type="number" name="experience" id="experience"/><br><br>
            <label for="desiredSalary">Desired Salary</label><br><br>
            <input type="number" name="desiredSalary" id="desiredSalary"/><br><br>
            <label for="haveCar">Have a Car</label><br><br>
            <input type="checkbox" name="haveCar" /><br /><br>
            <label for="phoneNumber">Phone Number</label><br><br>
            <input type="text" name="phoneNumber" id="phoneNumber"/><br><br>
            <label for="email">Email</label><br><br>
            <input type="email" name="email" id="email"/><br><br>
			<input type="submit" name="" value="Add Profile"/>
            <button><a href="/home">BACK</a></button>
		</form>
	</body>
</html>