@media only screen and (min-width: 1440px) {

    html, body {
    margin: 0;
    padding: 0;
}
  
    body {
    background-repeat: no-repeat;
    text-align: center;
    background-size: cover;
    background-image: linear-gradient(#fedde9, white);
    overflow-x: hidden;
    min-height: 100vh;
}

#freepik_stories-motherhood, #freepik_stories-happy-baby, #freepik_stories-painting-easter-eggs{
    width: 35%;
    position: absolute;
    left: 8%;
    top: 220px;
}

#freepik_stories-baby, #freepik_stories-baby-shoes {
    width: 35%;
    position: absolute;
    right: 14%;
    top: 200px;
}

#freepik_stories-sleeping-baby, #freepik_stories-kids-playing-with-dolls {
    width: 35%;
    position: absolute;
    right: 15%;
    top: 170px;
}

#freepik_stories-teddy-bear {
    width: 38%;
    position: fixed;
    right: 10%;
    top: 200px;
}

#article {
    width: 34%;
    position: relative;
    font-size: 20px;
    left: 50%;
    top: 90px;
}

#par {
    width: 35%;
    position: relative;
    font-size: 20px;
    left: 55%;
    top: 190px;
}

.profile {
    position: relative;
    left: 10%;
    width: 50%;
    border-radius: 50%;
}

#view-profile {
    position: relative;
    left: 20%;
    top: 10%;
}

#profile-img-index {
    position: relative;
    left: 11%;
    width: 30%;
    border: 5px solid rgba(0,0,0,.3);
    border-radius: 50%;
  }

  #profile-name {
    text-decoration: none;
    font-family: 'Titan One', cursive;
    color:#F2A7C3;
    font-size: 30px;
  }

  #profile-age, #profile-location {
    font-size: 40px;
    text-decoration: none;
    font-family: 'Titan One', cursive;
    color:#3C5059;
    font-size: 22px;
  }

  #info {
    position: relative;
    left: 14%;
    width: 30%;
  }

  #profile-button {
    text-decoration: none;
    position: relative;
    left: 21%;
  }

  .profile-h1 {
    font-family: 'Caveat', cursive;
    font-size: 40px;
    font-weight: bold;
    color:#3C5059;
    margin: 20px 200px;
    position: relative;
    left: 2%;
  }

  .profile-h3 {
    font-family: 'Caveat', cursive;
    width: 40%;
    font-size: 26px;
    color:#3C5059;
    position: relative;
    padding: 10px;
    left: 11%;
  }

  .top-profile {
    position: relative;
    padding: 10px;
    left: 10%;
    font-size: 60px;
    font-family: 'Titan One', cursive;
    color:#3C5059;
}

#profile-p {
    font-size: 20px;
    position: relative;
    padding: 10px 80px;
    left: 10%;
}

.profile {
    font-size: 40px;
    font-family: 'Titan One', cursive;
    color:#3C5059;
    font-size: 30px;
    margin: 20px 70px;
  }

  .profile-img {
    position: relative;
    left: 200px;
    width: 30%;
    border: 5px solid rgba(0,0,0,.3);
    border-radius: 20px;
    margin: 20px;
  }

.show-button, .show-input input[type=submit] {
    padding: 15px 40px;
    margin: 10px;
    position: relative;
    left: 12%;
    background: linear-gradient(145deg, white, #F2A7C3);
    font-size: 1rem;
    border: 0;
    border-radius: 30px;
    color: gray;
    text-shadow: 0 1px 2px rgba(0,0,0,.5);
    box-shadow: inset 0 -2px 10px rgba(0,0,0,.3),
    0 2px 5px rgba(0,0,0,.3);
    cursor: pointer;
}
.show-input input[type=submit]:hover{
    color: white;
}

button, input[type=submit] {
    padding: 15px 40px;
    background: linear-gradient(145deg, white, #F2A7C3);
    font-size: 1rem;
    border: 0;
    border-radius: 30px;
    color:gray;
    text-shadow: 0 1px 2px rgba(0,0,0,.5);
    box-shadow: inset 0 -2px 10px rgba(0,0,0,.3),
    0 2px 5px rgba(0,0,0,.3);
    margin: 20px;
    cursor: pointer;
  }


button:hover, input[type=submit]:hover {
    color: white;
    text-decoration: none;
}

#contactus {
    position: relative;
    left: 55%;
    top: 160px;
  }

.login {
    float: right;
    text-decoration: none;
    color: #F2A7C3;
}

.login:hover {
    float: right;
    text-decoration: none;
    color:white;
}

#logo {
    width: 350px;
    float: left;
    cursor: pointer;
}

.signform{
    position: relative;
    left: 13%;
}

.sign {
    margin: 220px 250px 100px 280px;
    font-size: 50px;
    font-family: 'Titan One', cursive;
    color:#3C5059;
}

.welcome {
    font-family: 'Titan One', cursive;
    color:#3C5059;
    padding: 20px 0;
}

.top {
    margin: 40px 0px;
    font-size: 50px;
    font-family: 'Titan One', cursive;
    color:#3C5059;
}


label {
    position: relative;
    left: -100px;
    margin: 10px;
    padding: 10px;
}

input[type=text], input[type=number], input[type=email], input[type=password], select {
    position: absolute;
    left: 100px;
    width: 500px;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
  }

  input[type=checkbox] {
    position: absolute;
    left: -155px;
    width: 500px;
    padding: 10px;
    margin: 25px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
  }

  textarea {
    position: absolute;
    left: 110px;
    width: 500px;
    padding: 10px;
    margin: 25px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
  }
  
  #create {
    position: absolute;
    left: 200px;
  }

  .create-edit {
    position: absolute;
    left: 400px;
  }

  .welcome-edit {
    font-family: 'Caveat', cursive;
    padding: 20px 0;
  }

  .back {
        padding: 15px 40px;
        margin: 10px;
        background: linear-gradient(145deg, white, #F2A7C3);
        font-size: 1rem;
        border: 0;
        border-radius: 30px;
        color: gray;
        text-shadow: 0 1px 2px rgba(0,0,0,.5);
        box-shadow: inset 0 -2px 10px rgba(0,0,0,.3),
        0 2px 5px rgba(0,0,0,.3);
        cursor: pointer;
  }

.aBack {
    text-decoration: none;
    color: gray;
}

.aBack:hover{
    text-decoration: none;
    color:white
}


footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f2f2f2;
    padding: 10px;
    text-align: center;
    font-size: 12px;
    color: #999;
  }

  }
  /* --------------------------------------------------------------------------- */


  @media only screen and (max-width: 1440px) {

    body {
        background-repeat: no-repeat;
        text-align: center;
        background-image: linear-gradient(#fedde9, white);
        min-height: 100vh;
    }

    html, body {
        margin: 0;
        padding: 0;
      }

    #freepik_stories-motherhood, #freepik_stories-happy-baby, #freepik_stories-painting-easter-eggs{
        width: 500px;
        position: absolute;
        left: 100px;
        top: 130px;
    }
    
    #freepik_stories-sleeping-baby, #freepik_stories-kids-playing-with-dolls {
        width: 500px;
        position: absolute;
        right: 50px;
        top: 150px;
    }

    #freepik_stories-teddy-bear, #freepik_stories-baby, #freepik_stories-baby-shoes {
        width: 500px;
        position: fixed;
        right: 120px;
        top: 130px;
    }
    
    .profile {
        position: relative;
        left: 300px;
        width: 400px;
        border-radius: 50%;
    }
    
    #article {
        width: 620px;
        position: relative;
        font-size: 15px;
        left: 700px;
        top: 20px;
    }
        
    #par {
        width: 400px;
        position: relative;
        font-size: 15px;
        left: 850px;
        top: 50px;
    }

    #info {
        position: relative;
        left: -20px;
    }
    
    .login {
        float: right;
        text-decoration: none;
        color: #F2A7C3;
    }
    
    .login:hover {
        float: right;
        text-decoration: none;
        color:white;
    }
    
    #logo {
        width: 350px;
        float: left;
        cursor: pointer;
    }
    
    .signform{
        position: absolute;
        left: 200px;
    }
    
    
    .welcome {
        font-family: 'Caveat', cursive;
        padding: 0 0;
    }

    .welcome-edit {
        font-family: 'Caveat', cursive;
        padding: 20px 0;
    }
    
    .top {
        margin: 40px 150px;
        font-size: 50px;
        font-family: 'Caveat', cursive;
    }
    
    .sign {
        margin: 70px 200px;
        font-size: 50px;
        font-family: 'Caveat', cursive;
    }
    
    label {
        position: relative;
        left: -100px;
        margin: 10px;
        padding: 10px;
    }
    
    input[type=text], input[type=number], input[type=email], input[type=password], select {
        position: absolute;
        left: 60px;
        width: 500px;
        padding: 10px;
        margin: 10px;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 10px;
        box-sizing: border-box;
      }
    
    input[type=checkbox] {
        position: absolute;
        left: -195px;
        width: 500px;
        padding: 10px;
        margin: 25px;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 10px;
        box-sizing: border-box;
    }
          
    button, input[type=submit] {
        padding: 15px 40px;
        background: linear-gradient(145deg, white, #F2A7C3);
        font-size: 1rem;
        border: 0;
        border-radius: 30px;
        color: gray;
        text-shadow: 0 1px 2px rgba(0,0,0,.5);
        box-shadow: inset 0 -2px 10px rgba(0,0,0,.3),
        0 2px 5px rgba(0,0,0,.3);
        margin: 10px;
        cursor: pointer;
      }
    
    
    button:hover, input[type=submit]:hover {
        color: white;
        text-decoration: none;
    }
    
      textarea {
        position: absolute;
        left: 70px;
        width: 500px;
        padding: 10px;
        margin: 25px;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 10px;
        box-sizing: border-box;
      }
      
      #create {
        position: absolute;
        left: 150px;
      }
    
      #contactus {
        position: absolute;
        left: 770px;
        top:150px;
      }

      #contactus h3 {
        font-size: 22px;
      }
    
      .back {
            padding: 15px 40px;
            margin: 10px;
            background: linear-gradient(145deg, white, #F2A7C3);
            font-size: 1rem;
            border: 0;
            border-radius: 30px;
            color: gray;
            text-shadow: 0 1px 2px rgba(0,0,0,.5);
            box-shadow: inset 0 -2px 10px rgba(0,0,0,.3),
            0 2px 5px rgba(0,0,0,.3);
            cursor: pointer;
      }
    
    .aBack {
        text-decoration: none;
        color: gray;
    }
    
    .aBack:hover{
        text-decoration: none;
        color:white;
    }
    
    footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: #f2f2f2;
        padding: 10px;
        text-align: center;
        font-size: 12px;
        color: #999;
      }
    
      .profile {
        font-size: 40px;
        color:#3C5059;
        font-size: 30px;
        margin: 20px -80px;
      }

      #view-profile {
        position: relative;
        left: 300px;
        top: 5px;
      }
    
      #profile-name {
        font-size: 40px;
        text-decoration: none;
        font-family: 'Caveat', cursive;
        color:#F2A7C3;
        font-size: 30px;
        margin: 20px 50px;
      }
    
        #profile-age, #profile-location {
        text-decoration: none;
        font-family: 'Caveat', cursive;
        color:#3C5059;
        font-size: 22px;
        margin: 20px 50px;
      }
      #profile-button {
        text-decoration: none;
        margin: 20px 340px;
      }
    
      .top-profile {
        font-size: 60px;
        font-family: 'Caveat', cursive;
        color:#3C5059;
        position: relative;
        padding: 10px;
        left: 15%;
    }
    
    #profile-p {
        font-size: 21px;
        padding: 10px;
        left: 15%;
        position: relative;
    }
    #profile-a:hover {
       text-decoration: none;
       color: #3C5059;
    }

    .profile-spec {
        font-family: 'Caveat', cursive;
        font-size: 10px;
        color:#3C5059;
        margin: auto;
      }

      .profile-h1 {
        font-family: 'Caveat', cursive;
        width: 700px;
        font-size: 40px;
        font-weight: bold;
        color:#3C5059;
        margin: 20px 160px;
      }

      .profile-h3 {
        font-family: 'Caveat', cursive;
        width: 600px;
        font-size: 26px;
        color:#3C5059;
        margin: 20px 10px;
      }

      .profile-img {
        position: relative;
        left: 160px;
        width: 500px;
        border: 5px solid rgba(0,0,0,.3);
        border-radius: 20px;
        margin: 20px;
    }

    #profile-img-index {
        position: relative;
        left: 200px;
        width: 400px;
        border: 5px solid rgba(0,0,0,.3);
        border-radius: 50%;
    }
    
    .show-button, .show-input input[type=submit] {
        padding: 15px 40px;
        margin: 10px 180px;
        background: linear-gradient(145deg, white, #F2A7C3);
        font-size: 1rem;
        border: 0;
        border-radius: 30px;
        color: gray;
        text-shadow: 0 1px 2px rgba(0,0,0,.5);
        box-shadow: inset 0 -2px 10px rgba(0,0,0,.3),
        0 2px 5px rgba(0,0,0,.3);
        cursor: pointer;
    }
    .show-input input[type=submit]:hover{
        color: white;
    }
    

  }